*{
	margin: 0;
	padding: 0;
}
.color{
    background-color: #0000009c;
}
.mobile{
	display: none;
}
.a{
	padding: 5px;
}
.h{
	color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.border-box{
	border-style: solid;
    border-width: thin;
    border-color: white;
}
.bg{
	background-color: #000;
}
.image{
	margin-top: 40px;
}
.heading{
    color: #f5d831;
    margin-bottom: 25px;
    margin-top: 15px;
    text-align: center;
}
.text{
	color: #fff;
}
.image1{
	width: 95%;
	margin-top: -85px;
}
.image2{
	width: 25%;
	margin-top: -145px;
}
.menu{
	padding: 0px 42%;
    margin-top: -145px;
}
.button {
    background-color: transparent;
    color: #fff;
    width: 100px;
    height: 50px;
    border: 1px solid white;
}
.box{
	padding: 50px;
}
.bg1{
	background-color: #000;
	padding: 0px 10%;
}
@media(max-width: 600px)
{
		     .mobile{
			    display: block;
		     }
		     .desktop{
		     	display: none;
		     }
		     .color{
		     	background-color: #000;
		     }
		     .nav-change{
		     	text-align: center;
		     }
		     .a{
		     	padding: 6px;
		     }
		     .h{
		     	color: #e7c866;
		     }
		     .border-box{
		     	border-style: none;
		     	border: none;
		     }
		     .banner img{
		     	margin-top: 55px;
		     }
		     .image1{
		     	margin-top: 0;
		     }
		     .image2{
		     	margin-top: 0;
		     	width: 80%;
		     }
		     .button {
                width: 50px;
                height: 40px;
             }
             .menu{
             padding: 0px 30%;
             margin-top: -57px;
             }
             .box{
             	padding: 10px;
             }
             .bg1{
             	padding: 10%;
             }
             h1{
             	font-size: 28px;
             }
}		   



