body{
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.heading{
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
	font-size: 1.25rem;
    font-weight: 300;
    margin-top: 45px;
    line-height: 1.2;
}
.box{
	text-align: center;
    box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
    background-color: #ffffff;
    border-radius: 15px;
    margin-top: 30px;
    padding: 50px 30px 63px 30px;
}
.icon{
	width: 160px;
    height: 138px;
    display: inline-block;
    text-align: center;
    line-height: 108px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
}
.a{
	margin: 5px;
}
.box h4{
	margin-top: 40px;
    margin-bottom: 20px;
}
.box p{
	font-size: 14px;
    color: #716f85;
    line-height: 26px;
    font-weight: 400;
}
.bg{
	background-color: #009df2;
	margin-top: 95px;
	padding: 100px 0px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.left{
	font-size: 28px;
    font-weight: 700;
    line-height: 48px;
    text-transform: capitalize;
    color: #ffffff;
    padding-right: 60px;
    margin-bottom: 60px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;  
}
.col-md-6 ul li{
    margin-bottom: 40px;
}
.font{
	margin-right: 25px;
    float: left;
    width: 70px;
    height: 70px;
    float: left;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
    background-color: #ffffff;
    line-height: 92px
}
.right-content{
    display: inline;
}
.col-md-6 ul li h4{
	color: #ffffff;
    margin-bottom: 10px;
    letter-spacing: 0.25px;
}
.col-md-6 ul li p{
    color: #ffffff;
    font-weight: 300;
    margin-left: 95px;
    font-size: 14px;
}
.text-heading{
    text-align: left;
    margin-bottom: 60px;
}
.menu{
    margin-top: 40px;
    margin-bottom: 0px;
    text-align: right;
}
.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu ul li{
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 45px;
    margin-right: 0px;
    font-size: 15px;
    font-weight: 500;
}
.active{
    color: #009df2;
}
.menu ul li:hover{
     color: #009df2;
}
.case-item{
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    margin-bottom: 30px;
}
.case-item p{
    font-size: 14px;
    color: #009df2;
    text-align: center;
}
.case-item h4{
    letter-spacing: 0.25px;
    margin-bottom: 10px;
    text-align: center;
}
.down-content{
    text-align: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 30px 30px 25px 30px;
}
.down-content ul{
    list-style-type: disc;
    text-align: left;
    color: black;
    font-size: 12px;
    padding-bottom: 18px;
    padding-top: 24px;
}
.button{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 7px;
    border-radius: 7px;
}
.footer{
    padding: 70px 0px 40px 0px;
    background-color: #337ab7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 45px;
}
.finer{
    margin-right: 15px;
    color: #ffffff;
    font-weight: 300;
    text-align: justify;
    font-size: 14px;
    line-height: 26px;
}
.social{
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background-color: #ffffff;
    color: #009df2;
    border-radius: 50%;
    font-size: 14px;
}
.footer-heading{
    margin-top: 0px;
    font-size: 19px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 30px;
    letter-spacing: 0.25px;
}
.more-info{
    margin-right: 20px;
}
.more-info li a{
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}
.more-info li{
    margin-bottom: 20px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-weight: 300;
}
.sub-footer{
    margin-top: 70px;
    padding-top: 40px;
    text-align: center;
    border-top: 1px solid rgba(250, 250, 250, 0.15);
}
.sub-footer p{
    font-size: 14px;
    font-weight: 300;
    color: white;
}
.sub-footer p a{
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 0.25px;
}
@media(max-width: 600px)
{
   .menu{
    margin-top: 40px;
    margin-bottom: 0px;
    text-align: center;
} 
   .menu ul li{
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 13px;
    margin-right: 0px;
    font-size: 13px;
    font-weight: 500;
}
}
